# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
tree-generator.ps1
.vite/
dist/
bssReactTs/node_modules
bssReactTs/.env

bssReactTs/dist
bssReactTs/dist-ssr
bssReactTs/stash_analysis
*.local

dataFilesForRepo/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
    
BeeSwarmSimulator_broken_in_two.txt
bssGitCommitsPastTwoWeeks.txt
bssGitCommitsPastWeek.txt
node_modules/
oldIndex.js

editsMadeMay162026.txt 
project-tree.txt 
ssa.txt

svgcleaningSVGtoSVG.ps1
svgcleaningTXTtoSVG.ps1
indexPreRefactor.html
engine/theOldRenderer.js
Extract-SVG.ps1
Rename-SvgBatch.ps1
Rename-SvgById.ps1
editsMay30.txt
may302026_round2_edits.txt
 
Rename-SvgBatch-Alt.ps1
del.ps1
indexPreRefactor_cleaned.txt
stash_backup_new0.txt
stash_backup_new_0.txt
stash_backup_new_1.txt
stash_backup_new_2.txt
stash_backup_new_3.txt
stash_backup_new_4.txt
stash_backup_new_5.txt
svgCleaningShim.ps1
svgcleaningTXTtoSVGAlt.ps1
svgcleaningTXTtoSVGBatch.ps1
theCleanedSVGs/
thesvgs/

FindAndNumberSvgFiles.ps1
project-tree-may312026at248am.txt
project-tree-may312026at421am.txt
editsMay31_2026-231am.txt