# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
tree-generator.ps1
.vite/
dist/
bssReactTs/node_modules
bssReactTs/.env

bssReactTs/dist
bssReactTs/dist-ssr
bssReactTs/stash_analysis
*.local

dataFilesForRepo/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
    
BeeSwarmSimulator_broken_in_two.txt
bssGitCommitsPastTwoWeeks.txt
bssGitCommitsPastWeek.txt
node_modules/
oldIndex.js

editsMadeMay162026.txt 
project-tree.txt 
ssa.txt
Extract-SVG.ps1
Rename-SvgBatch.ps1
Rename-SvgById.ps1
editsMay30.txt
engine/theOldRenderer.js
indexPreRefactor.html
may302026_round2_edits.txt
svgcleaningSVGtoSVG.ps1
svgcleaningTXTtoSVG.ps1